{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Photographer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/admin_styles.css' %}">
</head>
<body>
    {% include 'admin/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <!-- Include Sidebar -->
            {% include 'admin/sidebar.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div class="text-center">
                    <h1 class="mb-4">Delete Package</h1>
                    <p class="mb-4">Are you sure you want to delete the Package "{{ package.name }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mr-2">Yes, delete</button>
                        <a href="{% url 'view_packages' %}" class="btn btn-secondary">No, go back</a>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/admin_dashboard.js' %}"></script>
</body>
</html>
