{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Stylists</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/admin_styles.css' %}">
</head>
<body>
    {% include 'admin/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <!-- Include Sidebar -->
            {% include 'admin/sidebar.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container mt-4 container-sm">
                    <h1 class="mb-4">Stylists</h1>
                    <a href="{% url 'add_stylist' %}" class="btn btn-primary mb-4">Add Stylist</a>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Package</th>
                                <th>Images</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stylist in stylists %}
                                <tr>
                                    <td>{{ stylist.name }}</td>
                                    <td>{{ stylist.description }}</td>
                                    <td>{{ stylist.package.name }}</td>
                                    <td>
                                        {% for image in stylist.images.all %}
                                            <img src="{{ image.image.url }}" alt="{{ stylist.name }}" width="100">
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_stylist' stylist.stylist_id %}" class="btn btn-sm btn-info btn-edit">Edit</a>
                                        <a href="{% url 'delete_stylist' stylist.stylist_id %}" class="btn btn-sm btn-danger btn-delete">Delete</a>
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
