{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Packages</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/admin_styles.css' %}">
</head>
<body>
    <!-- Include Navbar -->
    {% include 'admin/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <!-- Include Sidebar -->
            {% include 'admin/sidebar.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container mt-4">
                    <h1 class="mb-4">Packages</h1>
                    <a href="{% url 'add_package' %}" class="btn btn-primary mb-4">Add Package</a>
                    {% if packages %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Package Name</th>
                                <th>Package Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for package in packages %}
                            <tr>
                                <td>{{ package.name }}</td>
                                <td>{{ package.price }}</td>
                                <td>
                                    <a href="{% url 'edit_package' package.package_id %}" class="btn btn-sm btn-info btn-edit">Edit</a>
                                    <a href="{% url 'delete_package' package.package_id %}" class="btn btn-sm btn-danger btn-delete">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No packages available.</p>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
